body {
	.wrapper {
		.navbar {
			color: $Medium_Gray;
			padding: 0 2%;
			@include flex(center, start, row);
            height: 10%;
			.hambMenuSec {
				@include flex(center, start, row);
				width: 100%;
                transform: translate(-5%, -20%);
			}
			.hambMenu {
				display: none;
				background: transparent;
				border: hidden;
				cursor: pointer;
				padding: 0.3%;
			}
			img {
				margin-right: 4%;
                margin-bottom: 5%;
			}
			div,
			span, h3 {
				padding: 0 1%;
				font-weight: 500;
				transition: all 0.3s;
			}
			span:hover {
				cursor: pointer;
				color: $Almost_Black;
			}
			.featuresList,
			.companyList {
				transform: translateY(41%);
				button {
					@include flex(center, center, row);
					background-color: white;
					border: hidden;
					span {
						font-size: 1.55em;
						font-weight: 500;
						margin-right: 6%;
						color: $Medium_Gray;
					}
					span:hover {
						color: $Almost_Black;
					}
				}
				button:hover {
					cursor: pointer;
				}
				position: relative;
			}
			.featuresList {
				transform: translateY(43%);
			}
			.hiddenList {
				@include hidden;
				transform: translateX(-25%);
				opacity: 0;
				transition: all ease-in-out 0.3s;
			}
			.hiddenList2 {
				@include hidden;
				width: 120%;
				opacity: 0;
				transition: all ease-in-out 0.3s;
			}
			.visibled {
				opacity: 1;
			}
			.displayNone {
				visibility: hidden;
			}

			.logSec {
				width: 100%;
				color: $Medium_Gray;
				@include flex(center, end, row);
				h3:first-child {
					padding-right: 3%;
				}
				h3:last-child {
					padding: 0 3%;
					border-radius: 15px;
					border: 1px solid $Medium_Gray;
					line-height: 2em;
				}
				h3:last-child:hover {
					color: $Almost_Black;
					border: 1px solid $Almost_Black;
				}
			}
		}
	}
}
